
.footer-area {
    padding-top: 0;
}

.hero-banner-sm {
    padding-top: 110px;
    padding-bottom: 20px;
}

.section-margin {
    margin: 40px 0px;
}

.regular-list {
    list-style-type: circle;
    padding-left: 1em;
}
