<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ content.meta.title }}</title>

    {{ if content.meta.description }}
    <meta name="description" content="{{ content.meta.description }}" />
    {{ end }}

    <link rel="preload" href="{{ route '{website}/resources/fonts/fa-solid-900.woff2' }}" as="font" type="font/woff2" crossorigin>

    <link rel="preload" href="{{ route '{website}/resources/fonts/fa-regular-400.woff2' }}" as="font" type="font/woff2" crossorigin>

    <link rel="preload" href="https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2" as="font" type="font/woff" crossorigin>

    <link rel="preload" href="https://fonts.gstatic.com/s/sourcesanspro/v18/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwlxdu.woff2" as="font" type="font/woff" crossorigin>

    {{~ for style in styles ~}}
    <link rel="stylesheet" href="{{ route style.path }}" />
    {{~ end ~}}

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>

<body class="hold-transition sidebar-mini">

    <div class="wrapper">

        <nav class="main-header navbar navbar-expand navbar-white navbar-light">

            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>

                {{~ for item in model.header_menu ~}}

                    <li class="nav-item d-none d-sm-inline-block">
                        <a href="{{ route item.path }}" class="nav-link">{{ item.details.title }}</a>
                    </li>

                {{ end }}

            </ul>

            {{ if model.search_box }}

            <form class="form-inline ml-3" action="{{ route model.search_box.action }}" method="{{ model.search_box.method }}">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="{{ model.search_box.placeholder }}" aria-label="Search" name="query">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            
            {{ end }}

            <ul class="navbar-nav ml-auto">
                
                {{ model.notifications }}
                
                {{ if model.sidebar }}

                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                        <i class="fas fa-th-large"></i>
                    </a>
                </li>

                {{ end }}

            </ul>

        </nav>

        <aside class="main-sidebar elevation-4 sidebar-dark-lightblue">

            {{ if model.has_logo || model.title }}
            
            <a href="{{ route '{website}/' }}" class="brand-link">
                {{ if model.has_logo }}
                <img src="{{ route 'resources/logo.png' }}" alt="Logo {{ model.title }}" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                {{ end }}
                <span class="brand-text font-weight-light">{{ model.title }}</span>
            </a>
            
            {{ end }}

            <!-- Sidebar -->
            <div class="sidebar">

                {{ if model.user_profile }}

                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="{{ route model.user_profile.avatar }}" class="img-circle elevation-2" alt="{{ model.user_profile.username }}">
                    </div>
                    <div class="info">
                        <a href="{{ route model.user_profile.action }}" class="d-block">{{ model.user_profile.username }}</a>
                    </div>
                </div>

                {{ end }}

                <nav class="mt-2">

                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        {{~ for item in menu ~}}

                        {{ active = ( request.target.path | string.contains item.path ) || ( ( route item.path ) == "./" && ( request.target.path | string.ends_with "/" ) ) }}

                        {{ if item.children }}

                           <li class="nav-item has-treeview menu-open">

                               <a href="{{ route item.path }}" class="nav-link{{ if active }} active{{ end }}">
                                   <i class="nav-icon far fa-circle"></i>
                                   <p>
                                       {{ item.details.title }}
                                       <i class="right fas fa-angle-left"></i>
                                   </p>
                               </a>

                               {{ if item.children && active }}
                               
                               <ul class="nav nav-treeview">
                               
                                   {{ for child in item.children }}

                                   {{ childActive = ( request.target.path | string.contains child.path ) || ( ( route child.path ) == "./" && ( request.target.path | string.ends_with "/" ) ) }}

                                   <li class="nav-item">
                                       <a href="{{ route child.path }}" class="nav-link{{ if childActive }} active{{ end }}">
                                           <i class="far fa-circle nav-icon"></i>
                                           <p>{{ child.details.title }}</p>
                                       </a>
                                   </li>

                                   {{ end }}

                               </ul>

                               {{ end }}

                            </li>

                            {{ else }}

                            <li class="nav-item">
                                <a href="{{ route item.path }}" class="nav-link{{ if active }} active{{ end }}">
                                    <i class="nav-icon far fa-circle"></i>
                                    <p>
                                        {{ item.details.title }}
                                    </p>
                                </a>
                            </li>

                            {{ end }}

                        {{ end }}

                    </ul>
                
                </nav>

            </div>

        </aside>

        <div class="content-wrapper">

            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">{{ content.meta.title }}</h1>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content">

                <div class="container-fluid">

                    {{ content.content }}

                </div>

            </div>

        </div>

        {{ if model.sidebar }}

        <aside class="control-sidebar control-sidebar-dark">
            <div class="p-3">
                {{ model.sidebar }}
            </div>
        </aside>
        
        {{ end }}

        {{ if model.footer_left || model.footer_right }}

        <footer class="main-footer">

            {{ if model.footer_right }}
            <div class="float-right d-none d-sm-inline">
                {{ model.footer_right }}
            </div>
            {{ end }}

            {{ if model.footer_left }}
                {{ model.footer_left }}
            {{ end }}
        </footer>

        {{ end }}

    </div>

    {{~ for script in scripts ~}}
    <script src="{{ route script.path }}"></script>
    {{~ end ~}}

</body>

</html>

